<app-navbar></app-navbar>
<div class="container mt-4">

  <div class="card p-4">

    <h2>Reserva de Hora</h2>

    <form [formGroup]="formulario">

      <div class="mb-3">
        <label>Nombre</label>

        <input type="text" class="form-control" formControlName="nombre">

        @if(formulario.get('nombre')?.touched &&
        formulario.get('nombre')?.errors?.['minlength']) {

        <small class="text-danger">
          Nombre requerido (minimo 3 caracteres).
        </small>
        }

        @if(formulario.get('nombre')?.touched &&
        formulario.get('nombre')?.errors?.['pattern']) {

        <small class="text-danger">
          El nombre solo puede contener letras.
        </small>
        }

      </div>

      <div class="mb-3">

        <label>Especialidad</label>

        <select class="form-control" formControlName="especialidad">

          <option value="">Seleccione</option>
          <option *ngFor="let especialidad of especialidades" [value]="especialidad">{{ especialidad }}</option>

        </select>

      </div>

      <div class="mb-3">

        <label>Fecha</label>

        <input type="date" class="form-control" formControlName="fecha">

      </div>

      <button type="button" class="btn btn-success" (click)="guardar()">

        Guardar Reserva

      </button>

    </form>

  </div>

</div>



@if(guardado()) {
  <app-alert [mensaje]="mensajeDeGuardado" tipo="success"></app-alert>
}

@if(error()) {
  <app-alert [mensaje]="mensajeDeError" tipo="danger"></app-alert>
}


<app-footer></app-footer>